body{
    
}

body .missile{
    height:20px;
    width:5px;
    background-color:red;
    display:none;

}

body #vaisseau{
    height: 30px;
    width: 80px;
    position:absolute;
    bottom: 0px;

}

body .vaisseau{
    height: 100px;
    width: 80px;
}

body #plateau .ligne{
    display: flex;
}

body #plateau .ligne img{
    width:100px;
}

.coeur{
    height: 20px;
    width: 20px;
    
}