.missile{
    height:20px;
    width:5px;
    background-color:red;
    display:none;

}

#vaisseau{
    height: 30px;
    width: 80px;
    margin-top: 800px;

}

.vaisseau{
    height: 100px;
    width: 80px;
}

